In [1]:
# Q1-1
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()  

def insert_data(unser_id, user_name, last_name, city, phone, email, password, sign_up):
    cmd = "insert into users values(%s, %s, %s, %s, %s, %s, %s, %s)"
    cursor.execute(cmd, (unser_id, user_name, last_name, city, phone, email, password, sign_up))
    
    mydb.commit()


insert_data("31", "Devanshu", "Thakar", "Ahemdabad", "212134123", "email@dev.com", "pass123", "2018-08-20 20:00:09")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [11]:
# Q1-2
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Rudra@02012001",
    database="e_commerce"
)

cursor = mydb.cursor()  

def delete_user(user_id):
    cmd1 = "delete from users where user_id=%s"
    cursor.execute(cmd1, (user_id,))
    cmd2 = "update reviews set user_id=NULL, user_name=%s where user_id=%s"
    cursor.execute(cmd2, ("anonymous",user_id))

    mydb.commit()

delete_user('5')

In [8]:
# Q1-3
import mysql.connector 
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database = "e_commerce"
)

cursor = mydb.cursor()

def increment_price(price_below=5000, increment_percent=10, total_views=10, date_threshold='2020-10-31 00:00:00'):
    increment_percent = str(1 + increment_percent/100)
    cmd = ''' update products set price=price*%s
            where price<%s and 
            product_id in(select product_id from views where view_datetime > %s group by product_id having count(user_id)>%s) '''
    val = (increment_percent, str(price_below), date_threshold , str(total_views))
    cursor.execute(cmd, (val))

    mydb.commit()

increment_price()
x=cursor.fetchall
print(x)

<bound method MySQLCursor.fetchall of <mysql.connector.cursor.MySQLCursor object at 0x000001C22AB7CE48>>

In [9]:
# Q1-5
import mysql.connector 
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database = "e_commerce"
)

cursor = mydb.cursor()

def phone_email(city_name, min_tot_purchase):
    cmd = '''select phone, email 
            from users 
        where (city=%s and user_id in(select user_id from purchases where (purchase_price*quantity > %s)));'''
    val = (city_name, min_tot_purchase)
    cursor.execute(cmd, val)

    x=cursor.fetchall()
    for t in x:
        print(t)

phone_email("Madrid", "10000")

('2703738991', 'manas.nfmv@email.com')

In [ ]:
# Q1-6
import mysql.connector
import datetime

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def find_products(containing):
    cmd = ''' select * from products where  
        (product_name like %s and product_id in (select product_id from purchases)) '''
    cursor.execute(cmd, (containing, ))

    x=cursor.fetchall()
    for t in x:
        print(t)


    mydb.commit()

find_products('%mi%')

In [11]:
# Q1-13
import mysql.connector
from mysql.connector import Error

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def all_laptops():
    cmd = ''' select * from products where subtype=%s order by price asc'''
    try:
        cursor.execute(cmd, ("laptop", ))
    except Error as e:
        print(e)

    x = cursor.fetchall()
    for t in x:
        print(t)

all_laptops()

('PR17', 'R2', 'electronics', 'laptop', 'macbook pro', 'apple', datetime.date(2008, 11, 15), 8000, datetime.date(2011, 12, 20), 0)
('PR32', 'R11', 'electronics', 'laptop', 'asus tuf', 'asus', datetime.date(2009, 2, 10), 12890, datetime.date(2010, 1, 21), 0)
('PR15', 'R11', 'electronics', 'laptop', 'lenovo omen', 'lenovo', datetime.date(2010, 2, 26), 15999, datetime.date(2012, 1, 4), 0)
('PR22', 'R4', 'electronics', 'laptop', 'dell g3 gaming', 'dell', datetime.date(2009, 8, 29), 18990, datetime.date(2010, 8, 27), 0)
('PR46', 'R11', 'electronics', 'laptop', 'hp pavillion', 'hp', datetime.date(2009, 1, 11), 19000, datetime.date(2013, 3, 10), 0)
('PR2', 'R16', 'electronics', 'laptop', 'dell inspiron', 'dell', datetime.date(2011, 4, 23), 19900, datetime.date(2012, 10, 21), 0)
('PR27', 'R5', 'electronics', 'laptop', 'acer gaming', 'acer', datetime.date(2010, 6, 29), 20000, datetime.date(2014, 12, 7), 15)

In [16]:
#Q1-16
import mysql.connector
from mysql.connector import Error

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def user_details(min_quantity=5):
    cmd = ''' select user_id, phone, email from 
        users where user_id in(select user_id from cart where quantity<5); '''
    try:
        cursor.execute(cmd)
    except Error as e:
        print(e)


user_details()
x = cursor.fetchall()
for t in x:
    print(t)

(1, '3885318267', 'ajay.shah@email.com')
(2, '5930723887', 'bernard.wslq@email.com')
(6, '8458809020', 'raman.fxvf@email.com')
(11, '4466184883', 'xavier.mckf@email.com')
(12, '8720665218', 'deepak.duds@email.com')
(16, '8714390596', 'munnedra.mira@email.com')
(19, '4927602042', 'wallace.rghl@email.com')
(22, '6275271752', 'manoj.nwvu@email.com')
(23, '6258517009', 'robertson.wdlo@email.com')
(24, '5267155759', 'wright.nsth@email.com')
(28, '7922446781', 'ahmad.osbw@email.com')
(29, '8082412423', 'farjan.rrnr@email.com')

In [17]:
#Q1-19
import mysql.connector
from mysql.connector import Error

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def retailers_of_user(user_id=1):
    cmd = ''' select retailer_id from products 
        where product_id in(select product_id from  purchases where user_id=%s); '''
    try:
        cursor.execute(cmd, (user_id, ))
    except Error as e:
        print(e)

retailers_of_user()
x = cursor.fetchall()
for t in x:
    print(t)

('R2',)
('R4',)
('R2',)
('R4',)
('R13',)
('R11',)
('R18',)
('R3',)

In [ ]:
#Q1-20
import mysql.connector
from mysql.connector import Error

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def update_discount(percent_discount=15, added_after='2014-09-22'):
    # Assuming today’s date is 2014-12-31, the products added in last 100 days will be those before 2014-09-22
    cmd1 = ''' update products set percent_discount=%s where date_added>%s  '''
    cmd2 = ''' create table holi_deals select * from products where date_added>%s '''
    cmd3 = ''' select * from holi_deals '''

    try:
        cursor.execute(cmd1, (percent_discount, added_after))
        mydb.commit()
        cursor.execute(cmd2, (added_after, ))
        mydb.commit()
        cursor.execute(cmd3)
    except Error as e:
        print(e)

update_discount()
x=cursor.fetchall()
for t in x:
    print(t)

In [3]:
#Q1-21
import mysql.connector
from mysql.connector import Error
import pandas as pd

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root123",
    database="e_commerce"
)

cursor = mydb.cursor()

def recommand(user_id=1, product_type="electronics"):
    cmd = ''' select product_id, quantity, purchase_date, type, subtype, product_name, creator, price from 
                purchases join products using(product_id) where user_id=%s and type=%s; '''
    cursor.execute(cmd, (user_id, product_type))
    purchased = cursor.fetchall()
    purchased = [('product_id', 'quantity', 'purcahse_date', 'type', 'subtype', 'product_name', 'creator', 'price')]+purchased
    
    preferences = {}
    
    for i in range(1, len(purchased)):
        # Storing a score to corrosponding to subtype attribute
        if (not (purchased[i][4] in preferences) ):
            preferences[purchased[i][4]] = 10
        else:
            preferences[purchased[i][4]]+=1
        # Storing a scroe to creator attribute
        if (not (purchased[i][6] in preferences) ):
            preferences[purchased[i][6]] = 20
        else:
            preferences[purchased[i][6]]+=2
    
    cmd = ''' select product_id, view_datetime, type, subtype, product_name, creator, price 
            from views join products using(product_id) where user_id=%s and type=%s; ''' 
    cursor.execute(cmd, (user_id, product_type))
    viewed = cursor.fetchall()
    viewed = [('product_id', 'quantity', 'purcahse_date', 'type', 'subtype', 'product_name', 'creator', 'price')]+viewed

    for i in range(1 ,len(viewed)):
        # Storing a score to corrosponding to subtype attribute
        if (not (viewed[i][3] in preferences)):
            preferences[viewed[i][3]] = 5
        else:
            preferences[viewed[i][3]]+=0.5
        # Storing a scroe to creator attribute
        if (not (viewed[i][5] in preferences)):
            preferences[viewed[i][5]] = 10
        else:
            preferences.update({viewed[i][5] : preferences[viewed[i][5]]+1 }) 
            
    cmd = ''' select product_id, product_name, subtype, product_name, creator from products where type=%s; '''
    cursor.execute(cmd, (product_type, ))
    products = cursor.fetchall()
    
    recommended = []
    
    for p in products:
        p_subtype_score, p_creator_score = 0, 0
        F_score = 0
        if(p[2] in preferences and p[4] in preferences):
            p_subtype_score, p_creator_score = preferences[p[2]], preferences[p[4]]
            F_score = p_creator_score*p_subtype_score
        elif (p[2] in preferences):
            p_subtype_score = preferences[p[2]]
            F_score = p_subtype_score + p_creator_score
        elif (p[4] in preferences):
            p_creator_score = preferences[p[4]]
            F_score = p_subtype_score + p_creator_score
        recommended.append((p[0], F_score))

    recommended.sort(key= lambda x:x[1], reverse=True)
    
    top10 = []
    for i in range(10):
        cmd = ''' select product_id, type, subtype, product_name, creator, price from products where product_id=%s '''
        cursor.execute(cmd, (recommended[i][0], ))
        top10 += cursor.fetchall()
    top10 = pd.DataFrame(top10)
    print(top10)
print("Top 10 recommended electronics product for user_id=1")
recommand()

Top 10 recommended electronics product for user_id=1
      0            1       2               3        4      5
0  PR17  electronics  laptop     macbook pro    apple   8000
1   PR2  electronics  laptop   dell inspiron     dell  19900
2  PR22  electronics  laptop  dell g3 gaming     dell  18990
3  PR32  electronics  laptop        asus tuf     asus  12890
4  PR29  electronics  mobile        iphone 9    apple  18499
5  PR40  electronics  mobile    xiaomi note9   xiaomi  12500
6  PR18  electronics  mobile     samsung a50  samsung  19999
7   PR4  electronics  mobile  samsung galaxy  samsung   5018
8   PR6  electronics  mobile     samsung m30  samsung  14999
9  PR13  electronics  tablet    ipad pro max    apple  23000